{%extends 'layout.html' %}

{% block body %}
	<div class="jumbotron text-center custom-message typo">
		<h1>LE PROJET AIR'O</h1>
		<h4> QUI SOMMES NOUS? ET POURQUOI CETTE IDEE?</h4>
	</div>

	<div class="text-center custom-primary">
		<h3><br/><font color="#9D7D76">QUI SOMMES NOUS?</font></h3>
	</div>
	
	<img src="https://zupimages.net/up/20/18/z3s6.jpg" alt="" width="1100" />

	<div class="text-center custom-primary">
		<h3><br/><font color="#9D7D76">POURQUOI AIR'O?</font></h3>
	</div>
	<div class="custom-primary">
		<h8> Nous, étudiant.e.s en 4SRC, approchons de la fin de notre cursus INSA et naturellement, nous nous sommes demandé.e.s quel rôle nous voulions avoir dans la société, et quel.le.s ingénieur.e.s nous voudrions être. Notre vision du métier d’ingénieur.e est celle de quelqu’un qui a un impact positif sur le monde en répondant à ses problématiques.
			Nous ne pouvons plus nier l'urgence climatique mondial et l'augmentation de la pollution. Ainsi, il a été assez évident pour notre groupe de porter un projet tourné vers l'éco-responsabilité, ou du moins la sensibilisation à la pollution.
			En effet, face au problème de la pollution, troisième cause de mortalité en France, la fenêtre d’action que nous avons est très réduite en temps. C'est pourquoi nous avons décidé de créer un dispositif de surveillance de la qualité de l'air.
		</h8>
	</div>
	
{% endblock %}