{%extends 'layout.html' %}

{% block body %}
	<div class="jumbotron text-center typo custom-message">
		<h3>BIENVENUE SUR AIR'O <br /></h3> <h5>DISPOSITIF DE SURVEILLANCE DE LA QUALITE DE L'AIR</h5>
	</div>
	<h4><br />Sur cette interface, tu auras accès <font color="#9D7D76">aux données de ton capteur de particules !</font></h4>
	<h5>	<br /> • Tu peux commencer par <font color="#9D7D76">te connecter</font> (en haut à droite).
		<br />→ Si c'est déjà fait, nous t'invitons à cliquer sur <font color="#9D7D76">Dashboard</font>, c'est ici que se trouvent les dernières données captées, ou celles de ton dernier trajet
		<br />→ Si tu n'as pas encore de compte, nous t'invitons à <font color="#9D7D76">t'en créer un.</font><br />
		<br /> • Si tu as besoin d'informations pour comprendre ce que veulent dire les taux de particules, tu peux cliquer sur <font color="#9D7D76">Qualité de l'air>En savoir plus</font> ou <font color="#9D7D76">Mon indice ATMO.</font><br />
		<br /> • Et si tu veux avoir accès à tes trajets, tu peux cliquer sur <font color="#9D7D76">Qualité de l'air>Mes trajets</font><br />
		<br />• Enfin, si tu veux en savoir un peu plus sur notre équipe et notre projet, clique sur <font color="#9D7D76">A propos de Air'o</font> !</h5>
</div>
	<div>
	</div>
{% endblock %}