{%extends 'layout.html' %}

{% block body %}
	<div class="jumbotron text-center custom-message typo">
		<h1>Vous souhaitez en savoir plus ?</h1>
		<p>Nous vous donnons ici des chiffres, des informations et quelques actualités</p>
	</div>

	<div class="text-center custom-primary">
		<h3><font color="#9D7D76">LES RISQUES</font></h3>
	</div>
	<div class="custom-primary">
		<h8>La connaissance des effets sanitaires et environnementaux de la pollution de l’air ambiant par un grand nombre de polluants chimiques est bien connue depuis de nombreuses années. Il est clairement établi aujourd’hui, notamment sur la base de plusieurs études épidémiologiques, que les niveaux de pollution actuels de l’air ambiant ont un impact sur la santé, et plus particulièrement au niveau respiratoire et au niveau cardiovasculaire
		</h8>
	</div>

	<div class="text-center custom-primary">
		<h3><font color="#9D7D76"><br/>ET DANS LA VILLE?</font></h3>
	</div>
	<div class="custom-primary">
		<h8>De nombreuses études attestent des effets de la pollution atmosphérique urbaine sur la santé de la population. D’après des données récentes françaises, issues du projet Aphekom portant sur neuf villes, l’espérance de vie à 30 ans pourrait augmenter de 3,6 à 7,5 mois selon la ville, ce qui équivaut à différer près de 3 000 décès par an, si les concentrations moyennes annuelles de particules de type PM2,5 respectaient la valeur guide de l'OMS (10 µg/m3).
		</h8>
	</div>

	<div class="custom-euro text-center">
		<h5> L’Union Européenne a condamné la France pour son inaction concernant la mauvaise qualité de son air en 2019.
		</h5>
	</div>

	<div class="text-center custom-primary">
		<h3><font color="#9D7D76">QUE PEUT-ON FAIRE?</font></h3>
	</div>
	<div class="custom-primary">Responsable en grande partie de la pollution en ville, des actions immédiates et urgentes sont à mettre en place face à la pollution de l'air du transport routier, tout comme des mesures sur le long terme :
	</br> • Développer les circulations douces (piéton, roller, vélo…)
</br> • Encourager les mobilités durables (réseau de transports en commun développés, développer les parkings à l’entrée des villes, covoiturage, autopartage…)
</br> • Réduire le besoin en transport à la source (télétravail, pratique de la marche à pied, développement des plans de déplacement à l’échelle de l’employeur)
</br> • Soutenir financièrement les collectivités dans leurs projets de transports publics et vélo, en vue de généraliser les villes à basses émissions.
</br> • Renforcer les aides au changement de comportement comme l’indemnité kilométrique vélo obligatoire et le bonus pour les vélos à assistance électrique.
</br> • Encourager le transport ferré des marchandises et supprimer les exonérations fiscales accordées aujourd’hui aux énergies fossiles et au gazole routier en particulier.
</br> • Abandonner les projets de nouvelle infrastructure routière qui auraient pour effet d’aggraver la situation.
</br> • Assurer le rappel des véhicules (dieselgate) en vue de corriger leur niveau de pollution.
		
		</h8>
	</div>


{% endblock %}